{% extends 'index.html' %}

{% load static %}

{% block title %}
    @felipemadeit
{% endblock %}

{% block body %}

    <div class="container-name-role">    
        <div class="container-name">
            <h3>Julian Homez</h3>
        </div>

        <div class="container-role">
            <h4>Full Stack Developer</h4>
        </div>
    </div>

    <div class="container-tags">
        <div class="tag" >
            <img id="tag-python" src="{% static 'media/SVG/brand-python.svg' %}">
        </div>
        <div class="tag">
            <img src="{% static 'media/SVG/brand-django.svg' %}">
        </div>
        <div class="tag">
            <img src="{% static 'media/SVG/html.svg' %}">
        </div>
        <div class="tag">
            <img id="tag-css" src="{% static 'media/SVG/css.svg' %}">
        </div>
        <div class="tag">
            <img id="tag-js" src="{% static 'media/SVG/js.svg' %}">
        </div>
        <div class="tag">
            <img id="tag-java" src="{% static 'media/SVG/java.svg' %}">
        </div>
        <div class="tag">
            <img id="tag-mysql" src="{% static 'media/SVG/mysql.svg' %}">
        </div>
        <div class="tag">
            <img id="tag-postgre" src="{% static 'media/SVG/postgresql.svg' %}">
        </div>
    </div>

    <div class="container-info" id="container-info">
    </div>

   <div class=""
      

{% endblock %}

{% block script %}
    <script src="{% static 'scripts/bubbles.js' %}"></script>
    <script src="{% static 'scripts/writting.js' %}"></script>
{% endblock %}