/* EFFET DE BUBBLE GRADIENTS */
:root {
  --color-bg1: #191919;
  --color-bg2: #323232;
  --color1: 100, 100, 100;
  --color2: 200, 200, 200;
  --color3: 160, 160, 160;
  --color4: 100, 100, 100;
  --color5: 50, 50, 50;
  --color-interactive: 255, 255, 255;
  --circle-size: 80%;
  --blending: hard-light;
}

body  {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Anton", sans-serif;
  font-weight: 200;
  font-style: normal;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

.gradient-bg {
  overflow: hidden;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

svg {
  display: none;
}

.gradients-container {
  filter: url(#goo) blur(40px);
  width: 100%;
  height: 100%;
}

.g1, .g2, .g3, .g4, .g5, .interactive {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
}

.g2 {
  background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
  transform-origin: calc(50% - 400px);
  animation: moveInCircle 20s reverse infinite;
}

.g3 {
  background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
  top: calc(50% - var(--circle-size) / 2 + 200px);
  left: calc(50% - var(--circle-size) / 2 - 500px);
  transform-origin: calc(50% + 400px);
  animation: moveInCircle 40s linear infinite;
}

.g4 {
  background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
  transform-origin: calc(50% - 200px);
  animation: moveHorizontal 40s ease infinite;
  opacity: 0.7;
}

.g5 {
  background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
  width: calc(var(--circle-size) * 2);
  height: calc(var(--circle-size) * 2);
  transform-origin: calc(50% - 800px) calc(50% + 200px);
  animation: moveInCircle 20s ease infinite;
}

.interactive {
  background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
  width: 100%;
  height: 100%;
  top: -50%;
  left: -50%;
  opacity: 0.7;
}

.noise-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/static/media/backgrounds/noise.webp');
  opacity: 0.03;
  z-index: 30;
}


.nav-bar {
    display: flex;
    position: absolute;
    width: 100%;
    height: 80px;
    margin: 0;
    z-index: 100000000000;
}

.nav-bar ul {
    display: flex;
    position: absolute;
    padding: 0;
    margin-top: 20px;
    width: 50%;
    height: 60px;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(255, 255, 255, 0.034); 
    backdrop-filter: blur(20px);
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    
}

.nav-bar li {
    list-style: none;
    margin: 0 50px;
    font-size: 18px;
    transition: 0.3s all ease;
}

.nav-bar li:hover{
    transform: scale(1.1);
}

.nav-bar a {
    text-decoration: none ;
    color: white;

}



.container-name-role {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%);
  width: 300px;
  height: 150px;
  overflow: hidden;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.container-name {
  display: flex;
  position: absolute;
  top: 2px;
  width: 400px;
  height: 100px;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  color: white;
  
}

.container-role {
    display: flex;
    position: absolute;
    top:85px;
    width: 260px;
    height: 40px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    color: black; 
    background-color: white;
    border-radius: 100px;
      
}

.container-tags {
    display: flex;
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%);
    width: 600px;
    height: 80px;
    padding: 1px 0;
    box-sizing: border-box;
    z-index: 9999999999999999999;
}


#tag-python {
  width: 80px;
  height: auto;
}

#tag-mysql {
  width: 60px;
  height: auto;
}
.tag {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    align-items: center;
    margin: 10px 10px;
    cursor: pointer;
    transition: all 0.2s ease;
    justify-content: center;
    align-items: center;
}

.tag img {
    width: 50px;
    height: auto;
  

}

.container-info {
  display: none;
  position: absolute;
  width: 500px;
  height: 300px;
  top: 100px;
  left: 600px;
  padding: 20px;
  box-sizing: border-box;
  color: white;
  line-height: 2.5;
  font-size: 18px;
  justify-content: none;
  
}

.wrapper-container {
  display: flex;
  width: 100%;
  position: absolute;
  top: 590px;
  justify-content: center;
}

.tab-container {
  width: 390px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 2px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 9px;
  
}

.indicator {
  content: "";
  width: 130px;
  height: 28px;
  background: white;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 9;
  border: 0.5px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
  border-radius: 7px;
  transition: all 0.2s ease-out;
  
}

.tab {
  width: 130px;
  height: 28px;
  position: absolute;
  z-index: 99;
  outline: none;
  opacity: 0;
  
}

.tab_label {
  width: 130px;
  height: 28px;

  position: relative;
  z-index: 999;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;

  font-size: 0.75rem;
  opacity: 0.6;

  cursor: pointer;
}

.tab--1:checked ~ .indicator {
  left: 2px;
}

.tab--2:checked ~ .indicator {
  left: calc(130px + 2px);
}

.tab--3:checked ~ .indicator {
  left: calc(130px * 2 + 2px);
}
